.empresa-box {

  width: 700px;

  padding: 50px;

  display: flex;
  flex-direction: column;
  gap: 25px;

  text-align: center;

  color: white;

  border-radius: 20px;

  background: rgba(255,255,255,0.08);

  backdrop-filter: blur(10px);

  border: 1px solid rgba(255,255,255,0.1);

  box-shadow: 0 10px 40px rgba(0,0,0,0.4);

}

.empresa-box h1 {

  font-size: 2.3rem;

}

.empresa-box p {

  font-size: 1.1rem;

  line-height: 1.6;

}