/*Truque: .animated-bg {
  background: linear-gradient(
    -45deg,
    #0a0a3f,
    #161468,
    #1a1ab0,
    #05052a
  );

  background-size: 400% 400%;

  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {

  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }

} */

#produtos {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

/* Truque */
.tech-card {
  width: 380px;
  padding: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 25px;

  background: #0b0b3a;

  border-radius: 20px;

  border: 1px solid rgba(255, 255, 255, 0.1);

  transition: 0.3s;
}

.tech-card:hover {
  transform: translateY(-10px);

  box-shadow:
    0 0 15px #4f6bff,
    0 0 30px #4f6bff,
    0 0 60px #4f6bff;
}

.imagem {
  height: 140px;
  width: 140px;

  border-radius: 50%;

  border: 3px solid white;

  background-size: cover;
  background-position: center;
}

h2,
span {
  color: white;
}

span {
  font-size: 1.5rem;
}
